.download-options.ng-animate {
    display: block !important;
}

.download-options.ng-hide-remove {
    -webkit-animation: 200ms slide-in-150;
    animation: 200ms slide-in-150;
}

.download-options.ng-hide-add {
    -webkit-animation: 200ms slide-in-150;
    animation: 200ms slide-in-150;
    -webkit-animation-direction: alternate-reverse;
    animation-direction: alternate-reverse;
}


.option-select.ng-animate {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.option-select.ng-hide-remove {
    -webkit-animation: 300ms slide-in-150;
    animation: 300ms slide-in-150;
}

.option-select.ng-hide-add {
    -webkit-animation: 200ms slide-in-150;
    animation: 200ms slide-in-150;
    -webkit-animation-direction: alternate-reverse;
    animation-direction: alternate-reverse;
}

.menu-fader.ng-animate {
    display: block !important;
}

.menu-fader.ng-hide-remove {
    -webkit-animation: 300ms transparent;
    animation: 300ms transparent;
    -webkit-animation-direction: alternate-reverse;
    animation-direction: alternate-reverse;
}

.menu-fader.ng-hide-add {
    -webkit-animation: 300ms transparent;
    animation: 300ms transparent;
}

@keyframes transparent {
    from { opacity: 1; filter: alpha(opacity=100); }
    to { opacity: 0; filter: alpha(opacity=0); }
}

@-webkit-keyframes transparent {
    from { opacity: 1; filter: alpha(opacity=100); }
    to { opacity: 0; filter: alpha(opacity=0); }
}

@keyframes slide-in-150 {
    from { margin-left: -150px; }
    to { margin-left: 0; }
}

@-webkit-keyframes slide-in-150 {
    from { margin-left: -150px; }
    to { margin-left: 0; }
}

@keyframes slide-in-300 {
    from { margin-left: -300px; }
    to { margin-left: 0; }
}

@-webkit-keyframes slide-in-300 {
    from { margin-left: -300px; }
    to { margin-left: 0; }
}